*{
    padding:0px;
    margin:0px;
}

.container{
    display: flex;
    flex-direction: column;
    /*margin can be changed*/
    align-items: center;
    margin-top:30px;
    width:100%;
    height:100%;
}

.container h1{
    color:#72DB73;
    font-family: Single Day;
    font-size: 67px;
    font-weight: 400;
    margin-bottom: 20px;
}

.container .belowheading{
    color:white;
    margin-bottom: 20px;
}

.container .inputforform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputforform input{
    color:white;
    height:64px;
    width:518px;
    background-color: #292929;
    border:none;
    padding-left:10px ;
    margin-bottom: 20px;
}

.inputforform .box{
    width:18px;
    height:18px;
}

.inputforform label{
    color:white;
    align-self: center;
    justify-self: center;
}

.inputforform p{
    margin-left:0px;
    padding:0px;
    color: red;
}
.container  button{
    width:518px;
    height:55px;
    border-radius: 30px;
    background-color: #72DB73;
    color:white;
}

